.carousel{
width:500px;
margin:auto;
overflow:hidden;
position:relative;
}

.slider{
display:flex;
transition:0.5s;
}

.slide{
min-width:100%;
text-align:center;
}

.slide img{
width:80px;
border-radius:50%;
}

button{
position:absolute;
top:50%;
transform:translateY(-50%);
}

button:first-of-type{
left:10px;
}

button:last-of-type{
right:10px;
}